@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
body {
  padding: 50px;
  font: 14px Inter, sans-serif;
  font-weight: 300;
}

a {
  color: #00B7FF;
}
