<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	
	This is being served from the view.
	<p>
		<a href="/auth/google">Login with Google</a>
	</p>
	<p>
		<a href="/profile">Profile</a>
	</p>
	
</body>
</html>